In [106]:
import pandas as pd
import sklearn as ske
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [107]:
## Pull in my data!
train = pd.read_csv("~/Documents/utkml/NYCHousingPrices/train.csv")
test = pd.read_csv("~/Documents/utkml/NYCHousingPrices/test.csv")

In [108]:
# Take a look at the data
train.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [109]:
# Data Preparation
# --------

train.drop(['id'], axis=1, inplace=True)
train.drop(['date'], axis=1, inplace=True)

# Any missing values?
train.isnull().values.any()

def preprocess(df):
    """
    Starter kit for preprocessing data. 
    
    - Right now this just one hot encodes
      the grade feature.
    """
    processed_df = df.copy()
    le = ske.preprocessing.LabelEncoder()
    processed_df.Sex = le.fit_transform(processed_df.grade)
    return processed_df

processed_train = preprocess(train)
processed_test = preprocess(test)

# We are trying to predict Price, so I need to drop it in X. I'll make Y that has only the Prices.
y = processed_train['price'].values
X = processed_train.drop(['price'], axis=1).values

In [110]:

X_train, X_val, y_train, y_val = ske.cross_validation.train_test_split(X,y,test_size=0.2)

print("X_train has shape {}".format(X_train.shape))
print("y_train has shape {}".format(y_train.shape))

X_train has shape (13832, 18)
y_train has shape (13832,)

In [111]:
reg = RandomForestRegressor()
reg.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [112]:
# Get predictions on the validation set
preds = reg.predict(X_val)

In [113]:
# Not the error used in the competition, but hey.
mean_absolute_error(y_pred=preds, y_true=y_val)

77629.247399749365